In [2]:
import pandas as pd

In [5]:
1+1

2

In [5]:
sports = {'Archery':'Bhutan',
          'Golf':'Scotland',
          'Sumo':'Japan',
          'Taewondo':'South Korea'}
s = pd.Series(sports)

In [8]:
s

Archery          Bhutan
Golf           Scotland
Sumo              Japan
Taewondo    South Korea
dtype: object

# loc和iloc属性
## 取第四个国家，建议使用loc和iloc属性， 
## 虽然pands可能会返回正确的值，但并不能每次都能正确的确定你到底是通过索引位置或者索引标签来进行查询

In [9]:
s[3]

'South Korea'

In [10]:
s['Golf']

'Scotland'

In [11]:
s.iloc[3]

'South Korea'

In [12]:
s.loc["Golf"]

'Scotland'

# 循环遍历和sum函数的性能比较
### 循环遍历毫秒级，sum函数微秒级

In [3]:
import numpy as np
s = pd.Series(np.random.randint(0,100,10000))
len(s)
s.head()

0     3
1    64
2    23
3    88
4    60
dtype: int32

In [18]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

514 µs ± 164 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
%%timeit -n 100
summary = np.sum(s)

128 µs ± 36.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## timeit是magic function，它会运行代码若干次，来计算平均运行时间
## magic funciton以 % 开头，%+Tab 可以看到magic function的列表

### 也可以用遍历的方式

In [20]:
%%timeit -n 100
import random as rd
l = [rd.randint(0,1000) for i in range(100)]
summary = sum(l)

168 µs ± 31.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Broadcasting 广播功能
### 对series中的每个值进行操作，来更改series

### 对s里的每个数增加2，可以用 += 运算符来执行

In [6]:
%%timeit -n 10
s =  pd.Series(np.random.randint(0,1000,1000))
s += 2

0     3
1    64
2    23
3    88
4    60
dtype: int32

In [8]:
s.head()

0     3
1    64
2    23
3    88
4    60
dtype: int32

### 也可以用遍历的方式

In [9]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
for label, value in s.iteritems():
    s.loc[label] = value+2

0     3
1    64
2    23
3    88
4    60
dtype: int32

In [10]:
s.head()

0     3
1    64
2    23
3    88
4    60
dtype: int32

### 两种方式（遍历 & +=）的性能一目了然

### 对Pandas来说，数值或者索引标签可以是混合类型
### 当Pandas发现传入的索引值不存在，就会添加一个新条目

In [11]:
s = pd.Series([1,2,3])
s.loc['Animal']= 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

### 目前index value是唯一的，其实index也可以是不唯一的
### dataframe,它不同于database，下面的例子，index值‘Cricket’不是唯一
## 下面两个合并，用append返回的是一个新的dataFrame，original_sports 并没有改变

In [14]:
original_sports = pd.Series({'Archery':'Bhutan', 
                             'Golf':'Scotland', 
                             'Sumo':'Japan', 
                             'Taekwondo':'South Korea'})
cricket_loving_countries = pd.Series(['Australia', 'Barbados','Pakistan','England'],
                                     index=['Cricket','Cricket','Cricket','Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [15]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [16]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

### 然后我们用'Cricket'作为索引值，得到是不是一个值，而是一个列表

In [18]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

## Pandas中的Series就相当于一维列表，而dataFrame就是二位矩阵